<!-- $Id: XY/etc/FullSupport/etc/skins/Carbon/templates/cvPrintDialog.html 2.0 2019/05/22 21:01:31GMT milind Exp  $ -->
<div style="padding:15px'height:150px;width:200px;">

<input type="checkbox" id="printRef" unchecked>Add referenced documents to PDF

<br/>
<div id="tableSections" style="overflow-y: auto;max-height:700px;margin:10px;margin-bottom:10px;">sectionList</div>
<button type="button" cvControl="1" id="CVCtrl_OK"><span></span></button>
<button type="button" cvControl="1" id="CVCtrl_cancel"><span></span></button>
</div>
