<!-- $Id: XY/etc/FullSupport/etc/skins/Carbon/templates/cvTOC.html 2.0 2019/05/22 21:01:35GMT milind Exp  $ -->

<!-- Ron, the code below is somehow causing the TOC not to load when the navTabs panel is commeneted out in panels.xml. The to-do from our discussion is to figure out which JS file populates this file, so that we can add this code into it. -->
<!--
<div class="main-nav-bars-box tabsPanel" id="tabContainer">
	<ul id="main-nav-bars">
		<li id="CVTab_toc">TOC</li>
		<li id="CVTab_act" alwaysHide="0">Activity</li>
		<li id="CVTab_fig">Figures</li>
		<li id="CVTab_tbl">Tables</li>
		<li id="CVTab_search">Search</li>
	</ul>
</div>

<ul id="documentTabs" style="display:none;">
	<li id="CVTab_task"></li>
	<li id="CVTab_refmat"></li>
	<li id="CVTab_matreq"></li>
	<li id="CVTab_supteq"></li>
</ul>
-->
