<!-- $Id: XY/etc/FullSupport/etc/skins/Carbon/templates/history.html 2.0 2019/05/22 21:01:41GMT milind Exp  $ -->
  <div id="sidemenu">
    <div id="smtop">
      <div id="smtopleft">&#160;</div>
      <div id="smtopright">&#160;</div>
    </div>
    <div id="smmiddle">
      <div id="smmiddlecontent">
	<div id="HISTORY_CONTAINER">
	  This is where the history goes...
	</div>
      </div>
    </div>
    <div id="smbottom">
      <div id="smbottomleft">&#160;</div>
      <div id="smbottomright">&#160;</div>
    </div>
  </div>
</div>
