<!-- Document Navigation - Left Navigation Panel -->
<div class="sButtonGroupM">
<div class="sButtonBoxM" id="CVCtrl_history" cvControl="1" />
</div>
<div class="sButtonGroupM">
<div class="sButtonBoxM" id="CV_applic" style="display:none" cvControl="1" />
</div>
<div class="sButtonGroupM">
<div class="sButtonBoxM" id="CV_suspend" cvControl="1" />
</div>
<div class="sButtonGroupM">
<div class="sButtonBoxM" id="CV_attachments" style="display:none" cvControl="1" />
</div>
<div class="sButtonGroupM"><!-- LAM:2022-02-16-->
<div class="sButtonBoxM" id="CV_bufr765forms" style="display:none" cvControl="1" />
</div>


