<!-- $Id: XY/etc/FullSupport/etc/skins/Carbon/templates/nav_secondary.html 2.0 2019/05/22 21:01:53GMT milind Exp  $ -->
<div class="toolbarM">
	<!-- Document Navigation - Float Left -->
	<div id="iconbuttons">
		<div id="buttonBar">
			<div class="sButtonGroupM">
				<div class="sButtonBoxM" id="CV_dmBack" style="display:none"/>
			</div>
			<div class="sButtonGroupM">
				<div class="sButtonBoxM" id="CV_dmForward" style="display:none"/>
			</div>
			<div class="sButtonGroupM">
				<div class="sButtonBoxM" id="CV_bookmark"/>
			</div>
			<div class="sButtonGroupM">
				<div class="sButtonBoxM" id="CV_prelReq"/>
			</div>
			<div class="sButtonGroupM">
				<div class="sButtonBoxM" id="CV_notes" style="display:none"/>
			</div>
			<!-- LAM:2021-10-13
			<div class="sButtonGroupM"><div class="sButtonBoxM" id="CVCtrl_emergencyProcedures"/></div>
			-->
			<div class="sButtonGroupM"><!-- LAM:2020-11-24-->
				<div class="sButtonBoxM" id="CVCtrl_showShoppingCart"/>
			</div>
			<div class="sButtonGroupM"><!-- LAM:2022-01-28-->
				<div class="sButtonBoxM" id="CVCtrl_bufrform"/>
			</div>
		</div>
	</div>
	<!-- Document Navigation - Float Right -->
	<div id="iconbuttonsRightM">
		<div id="buttonBarR">
			<!--LAM:2020
			<div class="sButtonGroupM"><div class="sButtonBoxM" id="CVCtrl_PrevPDM" style="display:none"/></div>
			<div class="sButtonGroupM"><div class="sButtonBoxM" id="CVCtrl_NextPDM" style="display:none"/></div>
			-->
			<div class="sButtonGroupM"><div class="sButtonBoxM" id="CV_prevStep" style="display:none"/></div>
			<div class="sButtonGroupM"><div class="sButtonBoxM" id="CV_nextStep" style="display:none"/></div>
		</div>
	</div>
</div>
