<!-- $Id: XY/etc/FullSupport/etc/skins/Carbon/templates/text.html 2.0 2019/05/22 21:02:06GMT milind Exp  $ -->
<meta id="META_INTRO_TYPE" content="@INTRO_TYPE@">
<meta id="META_INTRO" content="@INTRO@">
<meta id="META_FRONT_MATTER_XML" content="@FRONT_MATTER_XML@">
<meta id="META_FRONT_MATTER_SELECT" content="@FRONT_MATTER_SELECT@">

<script language="JavaScript" src="@APPNAME@?target=resource&action=script&file_name=const.js"></script>
<script language="JavaScript" src="@APPNAME@?target=resource&action=script&file_name=text.js"></script>

<div id="MAIN" style="display:none;">
@FLASH_BODY@
<script language="JavaScript" for="flashMovie" event="FSCommand(com, arg)">FSCommand(com, arg)</script>
</div>


