<!-- $Id: XY/etc/FullSupport/etc/skins/Carbon/templates/unknown.html 2.0 2019/05/22 21:02:11GMT milind Exp  $ -->
<html>
<head>
<title>Unsupported Transaction</title>
</head>
<body class="unsupported_action">
<h1 class="unsupported_action_h1">Unsupported Action</h1>
<p><i>The Application requested Unsupported Action.</i>
<p>This error is caused by the difference in the versions of the server/client software. 
Please inform your <b>System Administrator</b> to update the client portion to match the server you are currently using
</body>
</html>
